/* Resetto */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /Resetto */

/* Colors *

.main-header{
	background-color: gray;
}
.main-content{
	background-color: red;
}
.post{
	background-color: rebeccapurple;
}

/* /Colors */

/* Bases */

/* Merryweather fleets here bro! */

*{
	box-sizing: border-box;
}
body{
	font-family: 'Merriweather', 'Times New Roman', serif;
	font-size: 1.125rem;
	line-height: 2rem;
	color: #333;
}
h1, h2{
	font-family: 'Merriweather Sans', 'Arial', sans-serif;
}
h1{
	font-size: 1.8rem;
}
h2{
	font-size: 1.6rem;
	color: #E5127D;
}
p.main-header{
	font-size: 1.125rem;
	letter-spacing: 0.125rem;
}
header p{
	color: #8C8E9B;
}
a{
	color: #E5127D;
	text-decoration: none;
}
a:hover{
	color: #B60E63;
}

/* /Bases*/

/* Layout */

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr,
img,
.main-header, .main-content{
	margin-bottom: 1rem;
}
.main-header{
	text-align: center;
	padding: 1.25rem;
	color: #FFF;
	background-color: #42444E;
}
.post{
	width: 95%;
	margin: 0 auto 1rem;
	padding: 0.3125rem;
}
.pic{
	width: 100%;
}

/* /Layout */

/* Components */

.button{
	display: inline-block;
	border: 1px solid #8C8E9B;
	color: #8C8E9B;
	border-radius: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 5px;
	width: 100px;
	font-family: 'Merriweather Sans', sans-serif;
}
.button:hover{
	border: 1px solid #B60E63;
}
.load{
	display: block;
	text-align: center;
	padding: 0.625rem;
	font-size: 1.25rem;
	color: #8C8E9B;
}

/* /Components */

/* Media Wraps */

@media(min-width: 768px){
	.main-header{
		position: fixed;
		top: 0;
		height: 100%;
		width: 33.3%;
	}
	.main-content{
		float: right;
		width: 66.6%;
		max-width: 812px;
	}
}
@media(min-width: 1025px){
	.main-header{
		width: 20.625%;
	}
	.main-content{
		float: none;
		position: absolute;
		left: 20.625%;
	}
}

/* /Media Wraps */